    <table border="1" style="margin-left: 50px; margin-right: 50px;">
        <tr style="border-bottom: solid 0.25px; border-top: solid 0.25px;">
            <th>Email</th>
            <td>{{email}}</td>
        </tr>
        <tr style="border-bottom: solid 0.25px; border-top: solid 0.25px;">
            <th>Username</th>
            <td>{{username}}</td>
        </tr>
        <tr style="border-bottom: solid 0.25px; border-top: solid 0.25px;">
            <th>Password</th>
            <td>{{password}}</td>
        </tr>
    </table>
    <div class="content">
        <h1>Edit you information:</h1>
        <form action="/profile" method="POST">
            <label for="username">Username</label><br>
            <input type="username" id="username" name="username" required><br><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" oninput="check()" required><br><br>
            <label for="password_confirm">Confirm Password</label><br>
            <input type="password" id="password_confirm" name="password_confirm" oninput="check()" required><br><br>
            <button type="submit">Update</button>
        </form>
    </div>